#navbar{ 
    font-family: "PS Commons",sans-serif;
    display: flex;
    align-items: center;
   
    height: 80px;
    
     
  
    z-index: 9999;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 700;
}
img{
    
    background-repeat: no-repeat;
    background-position: left center;
  background-size: 100% auto;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 40px;
}
body {
    color: white;
    box-sizing: border-box;
    background: #0D0F12;
}
#whitelogo{
    margin-left: 20px;
    border: 0px;
    display: block;
  
    max-width: 164px;
    height: auto;
}



#parent{
    width: 60%;
    height: 800px;
    margin: auto;
    
}