body{
    background-color: #181818;
    font-family: "PS Commons";
}
#container{
margin: auto;
width: 100%;

;
}
#top{
    background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/browse/backgrounds/bg-hero.png);
    background-position: center 40px;
    background-size: 1350px;
    background-repeat: no-repeat;
    padding: 100px 0;
}
#skills-logo{
    height: 18px;
    width: 8%;
    margin: auto;
    display: flex;
    margin-top: -20px;
}
#skills-logo>img{
  
    display: inline-block;
    vertical-align: middle;
  max-width: 100%;
  max-height: 18px;
  margin: auto;
}
#top-content{
    width: 50%;
    margin: auto;
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 1.2;
margin-top: -20px;
    text-align: center;
    margin-left:320px;
}

#skills-logo h1
    {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "PS Commons";
    font-size: 24px;
    font-weight: 700 !important;
    line-height: 1;
}
div{
    display: block;
    color: white;
}
*{
    font-family: "PS Commons",sans-serif;
}

#course-contents{
    width: 100%;
    height: auto;

    display: flex;
    margin-top: 20px;
}
#left-contents{
    width:30%;
    height: 400px;
 
  
  
}
#right-contents{
width: 70%;
height: auto;
}
hr{
    flex: auto;
    border: none;
    height: 1px;
    background-color: hsla(0,0%,100%,.15);
    margin-bottom: 20px;
   }

   h4{
    color: hsla(0,0%,100%,.15);
    margin-bottom: 20px;
   }
   button{
    font-size: 15px;
  letter-spacing: 0.5px;
  padding: 18px 34px;
border: 1px solid white;
  white-space: normal;
  border-radius: 2px;
  line-height: 1.1;
   }
#parent>div{
    margin-top: 20px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%);
   padding: 20px;
}
#main{
    width: 90%;
    height: auto;
    margin-top: 80px;
    margin:auto;
    margin-top: 20px;
}