*{
    font-family: "PS Commons",sans-serif;
}
#main{
width: 100%;
height: auto;
background-color: black;

background-size: contain;
position: absolute;
left: 0;
   right: 0;
top: 530px;

}
#org{
    width: 55%;
    height: auto;
 
    margin: auto;
    text-align: center;
    
}
#org-logo{

    display: flex;
   
  width: 100%;
  margin: auto;

}
#org-logo>div{

    width: auto;
    height: auto;
    margin: auto;
}
#org h6{
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #aaa !important;
    
}
#top{
    background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/hero-illustration.png) ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    background-repeat: no-repeat;
   
    
    
    width: 100%;
    height: 370px;
    background-size: contain;
  margin-top: 80px;
  
   padding-top: 100px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}
body{
    background-color: black;
    color: white;
}

#plans{
     background-image: linear-gradient(to right,#f05a28,#ec008c,#f05a28);
     font-size: 15px;
     letter-spacing: 0.5px;
     padding: 18px 34px;
     margin-right: 20px;
     white-space: normal;
     border-radius: 2px;
     line-height: 1.1;
}
#free{
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 18px 34px;
  border: 1px solid white;
  white-space: normal;
  border-radius: 2px;
  line-height: 1.1;
}
#topbtn{
margin-top: 40px;
;
}
#build p{
font-size: 17px;
}
#line{
  margin-top: 60px;
}
#journeyline{
  background-color: #000;
    margin: 0px auto;
    width: 0%;
    height: 150px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #EC008C, #F15B2A, rgba(0, 0, 0, 0) ) 1 100%;
}
div{
  display: block;
}
#middle{
  width: 100%;
  height: 659.4px;
background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/bkgd-triangle-right.png),
url(https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/bkgd-triangle-right2.png),url(https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/bkgd-triangle-left.png);
background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, right, left;
    background-size: contain;
margin-top: 20px;
position: absolute;
}

#trending-tech{
  width: 60%;
  margin: auto;
  text-align: center;
margin-top: 50px;
}

#trending-tech h6{
  text-align: left;
  color: #e40084 !important;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  line-height: 1.4;
 
}
#trending-tech h3{
  text-align: left;
  font-size: 32px;
  margin: 0 0 20px 0;
  
}

#tech{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,auto);
  gap: 50px;
  margin: auto;
 margin-top: 50px;

}
#tech>div{
  display: flex;
  padding: 15px 0px 20px 20px;
  background: #222222;
  box-shadow: 0px 30px 30px rgb(0 0 0 / 10%);
 
  border-radius: 10px;
  display: flex;
 
}
.languages .path{
  display: flex;
 text-align: left;

 width: 100%;
 height: 100%;
}
.languages .lang-right div img{
  width: 100px;
  height: 100px; 
margin-left: 62px;
 margin-top: -17px;
}
.lang-right{
 width: 40%;
}
.lang-right div{
display: flex;


}

.languages .lang-left{
margin-top: 5px;
  margin-right: 10px;
 
}
.lang-left{
  width: 60%;
}
.path-icon{
  display: inline-block;
  vertical-align: middle;
}
.path-lable {
  text-transform: uppercase !important;
  font-size: 13px !important;
  color: #ec008c;
  margin-bottom: 10px;
}
.path-title {
  font-size: 22px !important;
  margin-bottom: 5px;
}
.path-courses span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #aaaaaa;
}
.path-courses{
  margin-bottom: 20px;
}

.arrow{
  color: #ec008c;
}

#spacer{ 
  background: #222222;
  width: 100%;
  height: 200px;
  margin-top: 120px;
}
#lower-middle{
  background: #222222;
  width: 100%;
  height: 1680px;
margin-top: -35px;
}
#features{
  width: 90%;
  height: auto;
  
  margin: auto;
 
}
#features-grid{
  display: grid;
  grid-template-columns: 1 ,1fr;
  grid-template-rows: repeat(3,455.93px);
  gap: 50px;

}
#features-grid>div{
background-color: #222;


}
.fetures-grid1{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  display: flex;
}

.fetures-grid1 div{
  width: 50%;
 
}
.fetures-grid1 div:first-child{
 padding: 40px 20px 0px 20px;
 
}
.fetures-grid1 img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#fetures-grid3{

display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows:1, 100%;
gap: 30px;
padding-left: 10px;
padding-right: 10px;

}
#fetures-grid3 div{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}
#features h3{
  font-size: 32px;
}

#fetures-grid3 img{ 
  width: 251px;
  height: 20px;
}
#fetures-grid3 div{
  padding:50px 30px 0px 30px
}
#fetures-grid3 div p{
  font-size: 17px;
}
#discover{
  width: 100%;
  height: 580px;
  padding-top: 100px;
}
#discover-innercontent{
  width: 90%;
  height: 80%;
  margin: auto;
}
#discover-innercontent>h6{
  text-align: left;
  color: #e40084 !important;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  line-height: 1.4;
}
#discover-innercontent>h3{
font-size: 32px;
margin-top: -5px;
}
#discover-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 387px;
gap: 10px;
}

#discover-grid>div>img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}
#discover-grid>div h6{
  color: #ffba0e ;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top:10px;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: left;
}
#rayan{
  width: 100%;
  height: 514.3px;
  display: grid;
  grid-template-columns:55% 45%;
  grid-template-rows: 100%;
}

#rayanimg{
  background: url(https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/targeted_section/targeted-parsys-customer-types-2/generic_block_143764/parsys/columns/column-parsys-1/generic_block/image-res.img.09fd35c0-9b3d-49f5-87d5-a40b781ed722.png);
 background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
   
    color: #eee !important;
  }
  .darker:before{
    background-color: rgba(0,0,0,0.8);
  }

   
  

#rayanimg h4{
  font-size: 78px !important;
  line-height: 1!important;
  letter-spacing: normal;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  
}
#rayanimg~div{
  background: linear-gradient(100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
  height: 100%;

}
#rayanname{
  margin-left: 20px;
  margin-top: 40px;
}
#vmware-logo img{
  width:120px ;
  height: 19.86px;
}
#vmware-h4{
  font-size: 28px;
}
#vmware{
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
}
#vmare-p{
font-size: 17px;  
line-height: 1.5;
}
#vmware-btn> button{
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 18px 34px;
color: #fff;
white-space: normal;
border-radius: 2px;
    background: #181818;
    line-height: 1.1
}
#crouser{
  height: 700.6px;
  width: 100%;
 
}
#nonprofit{
  width: 100%;
  height: 596.7px;
  background-image: url(https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/generic_block_1609496607/image-res.img.8377a1d0-97d6-4d21-b150-b57af534a17c.jpg);
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}
#nonprofit-contents{
  width: 50%;
padding-top: 60px;
  margin-left: 70px;
}
#nonprofits-logo img{
  width: 189px;
  height: 131px;
  margin-left: -37px;
}
#nonprofit-h2{
  font-size: 40px;
 margin-top: -50px;
 line-height: 1;
 margin-right: 40px;
 
}
#nonprofit-p{
  font-size: 17px;  
line-height: 1.5;
margin-top: -20px;
}
#nonprofit-btn button{
  font-size: 15px;
    letter-spacing: 0.5px;
    padding: 18px 34px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}
#insights{
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #181818;
}

#insights div{

  width: 50%;
  margin-left: 80px;
  
}
#insights button{
 margin-left: 140px;
  font-size: 15px;
    letter-spacing: 0.5px;
    padding: 18px 34px;
    min-width: 260px;
    background-size: 300% 100%;
    transition: all .6s ease-in-out;
    background-image: linear-gradient(to right,#f05a28,#ec008c,#f05a28);
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: normal;
    border-radius: 2px;
    color: #fff;
  
   
    text-decoration: none;
    display: inline-block;
}
#insights h2{
  font-size: 40px;
}
@media all and (min-width:320px) and (max-width:480px){
  #top{
    background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/hero-illustration-mobile.png) ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:755.6px;
    background-size: contain;
  margin-top: 80px;
  
   padding-top: 100px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}
#tech{
  width: 100%;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(4,auto);
  gap: 50px;
  margin: auto;
 margin-top: 50px;

}
.languages .lang-right div img{
  width: 100px;
  height: 100px; 
margin-left: 0px;
 margin-top: -17px;
}
.fetures-grid1{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.fetures-grid1 div{
  width: 50%;
 
}



#features-grid{
  display: grid;
  grid-template-columns: 1 ,1fr;
  grid-template-rows: repeat(3,800px);
  gap: 50px;

}
#features-grid>div{
background-color: #222;


}
.fetures-grid1{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  display: flex;
}

.fetures-grid1 div{
  width: 50%;
 
}
.fetures-grid1 div:first-child{
 padding: 40px 20px 0px 20px;
 
}
.fetures-grid1 img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#fetures-grid3{

display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows:1, 100%;
gap: 30px;
padding-left: 10px;
padding-right: 10px;

}
  }